on:
  push:
    branches:
      - "main"
name: Publish BUS_LOCATOR APIs
jobs:
  FTP-Deploy-Action:
    name: FTP-Deploy-Action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.1.0
        with:
          fetch-depth: 2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "7.4"
          extensions: mbstring, intl
          ini-values: post_max_size=256M, short_open_tag=On
          coverage: xdebug
          tools: composer

      - name: Build Project
        run: |
          composer install

      - name: List output files
        run: ls

      - name: FTP-Deploy-Action
        uses: SamKirkland/FTP-Deploy-Action@3.1.1
        with:
          ftp-server: ftp://ftp.touchandpay.me/apis.touchandpay.me/lamata/ral-bus-locator-apis
          ftp-username: rasheed@touchandpay.me
          ftp-password: ${{ secrets.FTP_PASSWORD }}
